snippet c
/// <summary>
/// $0
/// </summary>
endsnippet

snippet cp
/// <param name="$0">$1</param>
endsnippet

snippet cr
/// <returns> $0
endsnippet

snippet uclass
using UnityEngine;
using System.Collections;
using System.Collections.Generic;
using UniRx;

public class $0
{
}
endsnippet
