snippet c0
/// <summary>
/// $0
/// </summary>
endsnippet

snippet c1
/// <summary>
/// $0
/// <param name="$1"></param>
/// </summary>
endsnippet

snippet cr0
/// <summary>
/// $1
/// <returns> $2
/// </summary>
endsnippet

snippet uclass
using UnityEngine;
using System.Collections;
using System.Collections.Generic;
using UniRx;

public class $0
{
}
endsnippet
